# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
NEXT_PUBLIC_MORALIS_API_KEY="5wmyVL3H6cN2Yv6mKV7SX7MjUuYVNBudT5KFoYBhq6ea2I6eraKejNRB6IQblc42"
NEXT_PUBLIC_ALCHEMY_ID="KvttEzkAlp2e09ZIEWX_uMTO3vIWrDoC"